#snap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
  background: $very-light-gray;
  .snap_header {
    h2 {
      margin-top: 20px;
    }
  }
  .snap_articles {
    display: flex;
    flex-direction: column;
    .snap_articles-article {
      button {
        @include btn_2
      }
    }
  }
}

@media screen and (min-width: 765px) {
  #snap {
    .snap_articles {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }
}